<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" name="file-crash" fileName="${basedir}/logs/Crash-${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="file-log" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message} " />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file-log" />
    <logger name="*" minlevel="Fatal" writeTo="file-crash" />
  </rules>
</nlog>