@Master['_Master.html']
@Section['Content']
<div id="editor-page" class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    EDITOR
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">

                <form id="form_script" _lpchecked="1">
                    <label for="script_name">Name</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" id="scriptName" name="scriptName" v-model="scriptName" class="form-control" placeholder="Enter a name that identifies your script" autocomplete="off" required/>
                        </div>
                    </div>
                    <label for="script_tags">Tags</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" id="scriptTags" name="scriptTags" v-model="scriptTags" class="form-control" placeholder="Enter one or many tags (separated by spaces)" autocomplete="off" />
                        </div>
                    </div>
                    <label>Up Script</label>
                    <div class="form-group">
                        <div id="editorUp" style="width: 100%; height: 300px;"></div>
                    </div>
                    <label>Down Script</label>
                    <div class="form-group">
                        <div id="editorDown" style="width: 100%; height: 300px;"></div>
                    </div>
                    <button type="button" class="btn btn-primary m-t-15 waves-effect" v-on:click="saveScript" v-bind:disabled="isSavingScript">Save Script</button>
                    <button type="button" class="btn btn-danger m-t-15 waves-effect" v-on:click="cancel">Cancel</button>
                </form>


            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hid-project-id" value="@Model.ProjectId" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js" type="text/javascript" charset="utf-8"></script>

@EndSection
