<div id="content_environment">
    <form>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>#</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Scripts</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="e in environments">
                    <td><input type="checkbox" /></td>
                    <td>{{ e.displayOrder }}</td>
                    <td><a v-bind:href="'/project/'+ e.id">{{ e.name }}</a></td>
                    <td>{{ e.designation }}</td>
                    <td>??</td>
                    <td>
                        <i class="material-icons">arrow_drop_down</i>
                        <i class="material-icons">arrow_drop_up</i>
                        <i class="material-icons">delete</i>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>2</td>
                    <td>DEV-01</td>
                    <td>Dev</td>
                    <td>15</td>
                    <td>
                        <i class="material-icons">arrow_drop_down</i>
                        <i class="material-icons">arrow_drop_up</i>
                        <i class="material-icons">delete</i>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>3</td>
                    <td>UAT-01</td>
                    <td>UAT</td>
                    <td>22</td>
                    <td>
                        <i class="material-icons">arrow_drop_down</i>
                        <i class="material-icons">arrow_drop_up</i>
                        <i class="material-icons">delete</i>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>4</td>
                    <td>PROD-01</td>
                    <td>Prod</td>
                    <td>30</td>
                    <td>
                        <i class="material-icons">arrow_drop_down</i>
                        <i class="material-icons">arrow_drop_up</i>
                        <i class="material-icons">delete</i>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="modal fade" id="dlgEnvironment" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Environment :: Add New</h4>
            </div>
            <div class="modal-body">
                <form id="form_environment">

                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="environmentName">Name</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="environmentName" name="environmentName" v-model="environmentName" placeholder="e.g. Production_Server" class="form-control" autocomplete="off" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="environmentDbType">Database Type</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <select id="environmentDbType" name="environmentDbType" class="form-control" v-model="environmentDbType" required>
                                        <option v-for="dbType in databaseTypes" v-bind:value="dbType.id">
                                            {{ dbType.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="environmentHost">Host Name</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="environmentHost" name="environmentHost" v-model="environmentHost" placeholder="e.g. Production_Server" class="form-control" autocomplete="off" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="environmentPort">Port</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="number" id="environmentPort" name="environmentPort" v-model="environmentPort" class="form-control" autocomplete="off" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="environmentDatabase">Database Name</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="environmentDatabase" name="environmentDatabase" v-model="environmentDatabase" class="form-control" autocomplete="off" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="environmentUserName">User Name</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="environmentUserName" name="environmentUserName" v-model="environmentUserName" class="form-control" autocomplete="off" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="environmentPassword">Password</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="password" id="environmentPassword" name="environmentPassword" v-model="environmentPassword" class="form-control" autocomplete="off" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="environmentDesignation">Designation</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <select id="environmentDesignation" name="environmentDesignation" class="form-control" v-model="environmentDesignation">
                                        <option v-for="designation in designations" v-bind:value="designation.id">
                                            {{ designation.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect"  v-on:click="saveEnvironment" v-bind:disabled="isSavingEnvironment">SAVE</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>
