<div id="content_environment">
    <div>
        <button type="button" class="btn btn-info waves-effect" data-toggle="modal" data-target="#modal-environment">
            <i class="material-icons">playlist_add</i>
            <span>New...</span>
        </button>
    </div>
    <form>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>#</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Scripts</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>1</td>
                    <td>DEV-01</td>
                    <td>Dev</td>
                    <td>13</td>
                    <td>
                        <i class="material-icons">arrow_drop_down</i>
                        <i class="material-icons">arrow_drop_up</i>
                        <i class="material-icons">delete</i>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>2</td>
                    <td>DEV-01</td>
                    <td>Dev</td>
                    <td>15</td>
                    <td>
                        <i class="material-icons">arrow_drop_down</i>
                        <i class="material-icons">arrow_drop_up</i>
                        <i class="material-icons">delete</i>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>3</td>
                    <td>UAT-01</td>
                    <td>UAT</td>
                    <td>22</td>
                    <td>
                        <i class="material-icons">arrow_drop_down</i>
                        <i class="material-icons">arrow_drop_up</i>
                        <i class="material-icons">delete</i>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>4</td>
                    <td>PROD-01</td>
                    <td>Prod</td>
                    <td>30</td>
                    <td>
                        <i class="material-icons">arrow_drop_down</i>
                        <i class="material-icons">arrow_drop_up</i>
                        <i class="material-icons">delete</i>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <li v-for="e in environments">
        <a v-bind:href="'/project/'+ e.id">{{ e.name }}</a>
    </li>
</div>
<div class="modal fade" id="dlgEnvironment" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Environment :: Add New</h4>
            </div>
            <div class="modal-body">
                <form id="form_environment">

                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="environment_name">Name</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="environment_name" placeholder="e.g. Production_Server" class="form-control" autocomplete="off" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="environment_dbtype">Database Type</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <select id="environment_dbtype" class="form-control" v-model="selectedDatabaseType">
                                        <option v-for="dbType in databaseTypes" v-bind:value="dbType.id">
                                            {{ dbType.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="environment_host">Host Name</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="environment_host" placeholder="e.g. Production_Server" class="form-control" autocomplete="off" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="environment_port">Port</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="number" id="environment_port" class="form-control" autocomplete="off" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="environment_username">User Name</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="environment_username" class="form-control" autocomplete="off" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="environment_password">Password</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="password" id="environment_password" class="form-control" autocomplete="off" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="environment_designation">Designation</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <select id="environment_designation" class="form-control" v-model="selectedDesignation">
                                        <option v-for="designation in designations" v-bind:value="designation.id">
                                            {{ designation.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect">SAVE</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>
