<div id="content_environment">
    <form>
        <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" class="form-control" autocomplete="off" />
                        <label class="form-label">Name filter</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" class="form-control" autocomplete="off" />
                        <label class="form-label">Tag filter</label>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Script</th>
                    <th>&nbsp; <!-- Tags --></th>
                    <th>Created</th>
                    <th>User</th>
                    <th>Completed</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="javascript:void(0);">
                            Script that did stuff
                        </a>
                    </td>
                    <td><span class="label bg-pink">Sprint1</span></td>
                    <td>2020-01-01 15:37</td>
                    <td>Eddie Vedder</td>
                    <td>2020-01-19 13:42</td>
                    <td>
                        <i class="material-icons">delete</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="javascript:void(0);">
                            Script that also did stuff
                        </a>
                    </td>
                    <td><span class="label bg-pink">Sprint1</span></td>
                    <td>2020-02-01 15:37</td>
                    <td>Flea</td>
                    <td>2020-03-19 13:42</td>
                    <td>
                        <i class="material-icons">delete</i>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
