<div v-if="isLoadingScripts">
    <img src="/Content/img/loading_143x42.gif" width="143" height="42" alt="Loading..." />
</div>
<div v-if="scripts.length == 0 && !isLoadingScripts">No scripts have been added to this project.</div>
<div v-if="scripts.length > 0 && !isLoadingScripts">
    <form>
        <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" class="form-control" autocomplete="off" />
                        <label class="form-label">Name filter</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" class="form-control" autocomplete="off" />
                        <label class="form-label">Tag filter</label>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <td style="padding: 10px;">
                        <div>
                            <input type="checkbox" class="db-checkbox-plain" v-model="selectScriptToggle" v-on:change="onSelectedScriptsChange()" />
                        </div>
                    </td>
                    <th>Script</th>
                    <th>&nbsp; <!-- Tags --></th>
                    <th>Created</th>
                    <th v-for="e in environments">
                        {{ e.name }}
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="tbody-scripts">
                <tr v-for="s in scripts">
                    <td>
                        <div>
                            <input type="checkbox" class="script-select-box db-checkbox-plain" v-bind:id="'cb_script_' + s.id" v-model="s.checked" />
                        </div>                        
                    </td>
                    <td>
                        <a href="javascript:void(0);">
                            {{ s.name }}
                        </a>
                    </td>
                    <td>
                        <span v-for="t in s.tags" class="label tag-label" v-bind:class="t.cssClass">{{ t.tag }}</span>
                    </td>
                    <td>{{ formatDate(s.createDate) }}</td>
                    <td v-for="e in environments">
                        <i v-if="getEnvironmentExecutionState(e.id, s)" class="material-icons" style="color:#4CAF50 !important">check</i>
                        <i v-else class="material-icons" style="color:#F44336 !important">close</i>
                    </td>
                    <td>
                        <i class="material-icons">delete</i>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="modal fade" id="dlgRunScripts" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Run Scripts</h4>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="body" id="db-script-body">
                        <ul class="list-group">
                            <li v-for="rs in runnableScripts" class="list-group-item">
                                {{ rs.name }}
                                <span v-for="t in rs.tags" class="label tag-label pull-right" v-bind:class="t.cssClass">{{ t.tag }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn waves-effect btn-danger" v-on:click="saveEnvironment" v-bind:disabled="isSavingEnvironment">RUN SCRIPTS</button>
                <button type="button" class="btn waves-effect" data-dismiss="modal">CANCEL</button>
            </div>
        </div>
    </div>
</div>
