<div v-if="isLoadingScripts">
    <img src="/Content/img/loading_143x42.gif" width="143" height="42" alt="Loading..." />
</div>
<div v-if="scripts.length == 0 && !isLoadingScripts">No scripts have been added to this project.</div>
<div v-if="scripts.length > 0 && !isLoadingScripts">
    <form>
        <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" class="form-control" autocomplete="off" />
                        <label class="form-label">Name filter</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" class="form-control" autocomplete="off" />
                        <label class="form-label">Tag filter</label>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Script</th>
                    <th>&nbsp; <!-- Tags --></th>
                    <th>Created</th>
                    <th>DEV01</th>
                    <th>DEV02</th>
                    <th>UAT01</th>
                    <th>PROD01</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="javascript:void(0);">
                            Script that does stuff
                        </a>
                    </td>
                    <td><span class="label bg-pink">Sprint1</span></td>
                    <td>2020-01-01 15:37</td>
                    <td><i class="material-icons" style="color:#4CAF50 !important">check</i></td>
                    <td><i class="material-icons" style="color:#4CAF50 !important">check</i></td>
                    <td><i class="material-icons" style="color:#4CAF50 !important">check</i></td>
                    <td><i class="material-icons" style="color:#F44336 !important">close</i></td>
                    <td>
                        <i class="material-icons">delete</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="javascript:void(0);">
                            Another script
                        </a>
                    </td>
                    <td>
                        <span class="label bg-purple">#22012</span>
                        <span class="label bg-deep-purple">Sprint2</span>
                    </td>
                    <td>2020-06-30 12:24</td>
                    <td><i class="material-icons" style="color:#4CAF50 !important">check</i></td>
                    <td><i class="material-icons" style="color:#4CAF50 !important">check</i></td>
                    <td><i class="material-icons" style="color:#F44336 !important">close</i></td>
                    <td><i class="material-icons" style="color:#F44336 !important">close</i></td>
                    <td>
                        <i class="material-icons">delete</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="javascript:void(0);">
                            Script not run
                        </a>
                    </td>
                    <td><span class="label bg-lime">Random</span></td>
                    <td>2020-09-01 08:15</td>
                    <td><i class="material-icons" style="color:#F44336 !important">close</i></td>
                    <td><i class="material-icons" style="color:#F44336 !important">close</i></td>
                    <td><i class="material-icons" style="color:#F44336 !important">close</i></td>
                    <td><i class="material-icons" style="color:#F44336 !important">close</i></td>
                    <td>
                        <i class="material-icons">delete</i>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Script</th>
                    <th>&nbsp; <!-- Tags --></th>
                    <th>Created</th>
                    <th v-for="e in environments">
                        {{ e.name }}
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="s in scripts">
                    <td>
                        <a href="javascript:void(0);">
                            {{ s.name }}
                        </a>
                    </td>
                    <td>
                        <span v-for="t in s.tags" class="label tag-label" v-bind:class="t.cssClass">{{ t.tag }}</span>
                    </td>
                    <td>2020-01-01 15:37</td>
                    <td v-for="e in environments">
                        {{ e.name }}
                    </td>
                    <td>
                        <i class="material-icons">delete</i>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
