@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<string>
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Sign In | DbScriptDeploy</title>
    <!-- Favicon-->
    <link rel="icon" href="/Content/favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Css -->
    <link href="/Content/lib/bootstrap/css/bootstrap.min.css?v=@ViewBag.Version" rel="stylesheet">
    <link href="/Content/lib/node-waves/waves.min.css?v=@ViewBag.Version" rel="stylesheet" />
    <link href="/Content/lib/animate-css/animate.min.css?v=@ViewBag.Version" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="/Content/css/style.css?v=@ViewBag.Version" rel="stylesheet">
</head>

<body class="login-page">
    <div id="login-app" class="login-box">
        <div class="logo">
            <a href="#">DbScriptDeploy</a>
            <small>A tool for migrating SQL scripts</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="sign_in" method="POST">
                    <div class="msg">Sign in to start your session</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input v-model="email" type="text" class="form-control" name="email" placeholder="Email" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input v-model="password" type="password" class="form-control" name="password" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 p-t-5">
                            <input v-model="rememberme" type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                            <label for="rememberme">Remember Me</label>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-block bg-pink waves-effect" type="button" v-on:click="submitLogin" v-bind:disabled="isProcessing">
                                SIGN IN
                            </button>
                        </div>
                        <div class="preloader pl-size-sm spinner-centered" v-bind:style="{ display : isProcessing ? 'block' : 'none' }">
                            <div class="spinner-layer pl-cyan">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/Content/lib/jquery/jquery.min.js?v=@ViewBag.Version"></script>
    <script src="/Content/lib/bootstrap/js/bootstrap.min.js?v=@ViewBag.Version"></script>
    <script src="/Content/lib/node-waves/waves.min.js?v=@ViewBag.Version"></script>
    <script src="/Content/lib/jquery-validation/jquery.validate.js?v=@ViewBag.Version"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="/Content/js/admin.js?v=@ViewBag.Version"></script>
    <script src="/Content/js/pages/account_login.js?v=@ViewBag.Version"></script>
</body>
</html>